<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Vista de Productos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>

<body>
    <main class="container mt-3">
        <div class="container">
                <% if(productos.length> 0) {%>
                    <h1> Productos</h1>
                        <% productos.map(function (item) { %>
                            <div class="card" style="width: 18rem;">
                                <img src='<%= item.thumbnail %>' class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title"><%= item.nombre %></h5>
                                    <p class="card-text"><%= item.precio %>.</p>
                                    <% if(administrador) { %>
                                        <a href="#" onclick="asd()" class="btn btn-primary" >Editar</a>
                                        <a href="#" class="btn btn-primary">Actualizar</a>
                                        <% } %>
                                </div>
                            </div>                           
                            <% }) %>                       
                    <% } else { %>
                        <h2>No hay productos</h2>
                        <a href="/" class="btn btn-primary m-2">Volver a cargar productos</a>
                        <% } %>
    
    
        </div>
        
    </main>
    <%- include('partial/footer.ejs')-%>
</body>
</html>
